@import 'settings.scss';

.admin-header {
    height:70px;
    line-height:100px;
    text-align:center;
    font-size:20px;
    color:$text-dark;
    font-family:WorkSansSemiBold;
    border-bottom:1px solid $ui-subtle;
    .dark & {
        color:$text-light;
        border-color:$ui-dark-subtle;
    }
}

.admin-space {
    flex:1;
    overflow-y:scroll;
    .admin-panel-select {
        width:180px;
        min-width:180px;
        position:sticky;
        //box-shadow: 0 -10px 25px -10px $shadow-color;
        top:0;
        padding-right:8px;
        border-right:1px solid $ui-subtle;
        .tabbed-view-select {
            width:auto;
            position:relative;
            top:0;
            margin:0;
            transform:translate(0,0);
            .view-item {
                padding:10px 10px;
                font-size:14px;
                font-family:WorkSans;
            }
        }
        .dark & {
            border-color:$ui-dark-subtle;
            color:$text-light;
        }
    }
    .admin-panel {
        flex:1;
    }
}


.word-filters-container, 
.reports-container, 
.adjustment-container,
.admin-users-pane {
    padding:10px 20px;
    margin-top:15px;
}

.reports-container {
    min-width:200px;
    .no-reports {
        height:100px;
        line-height:100px;
        text-align:center;
        color:$text-dark;
        .dark & {
            color:$text-light;
        }
    }
}

.reports-inner,
.admin-users-container,
.adjustment-inner,
.download-pane {
    padding-top:10px;
    width:100%;
    margin-top:15px;
    max-height:75vh;
    //overflow-y:scroll;
    //border-top:1px solid $ui-subtle;
    .dark & {
        border-color:$ui-dark-subtle;
    }
}

.admin-users-container {
    //overflow-x:scroll;
}

.download-pane {
    color:$text-dark;
    .dark & {
        color:$text-light;
    }
    p { text-align:center;}
    a, div.button {
        margin:15px 0;
        display:block;
        font-size:18px;
        font-family:WorkSansSemiBold;
        color:$primary;
        text-decoration: none;
        border:1px solid $primary;
        border-radius: 8px;
        text-align:center;
        line-height:100%;
        cursor:pointer;
        padding:15px 20px;
        &:hover {
            background:$primary;
            color:$text-light;
        }
    }
}

.admin-users-pane {
    flex:1;
    position:relative;
    //min-height:100vh;
    //overflow-x:scroll;
}

.control-header, .control-description {
    color:$text-dark;
    text-align:center;
    margin:5px 0;
    width:100%;
    .dark & {
        color:$text-light;
    }
}

.control-header {
    font-family:WorkSansSemiBold;
    font-size:18px;
    height:20px;
}

.control-description {
    font-size:14px;
}

textarea.admin-textarea {
    padding:10px;
    resize:none;
    background:$ui-light;
    border:1px solid rgb(158, 158, 158);
    font-family:WorkSans;
    font-size:16px;
    line-height:20px;
    color:$text-dark;
    outline:none;
    border-radius:5px;
    .dark & {
        background:$ui-dark;
        color:$text-light;
        border-color:$ui-dark-subtle;
    }
}

.filter-textarea {
    flex:1;
    padding:10px 0;
    width:100%;
    textarea {
        width:100%;
        height:60vh;
    }
}

.save-button {
    padding-bottom:30px;
    .button {
        margin:15px 0;
    }
}

.report-item {
    position:relative;
    margin:10px 0;
    padding:10px 5px;
    border:1px solid $ui-subtle;
    border-radius:5px;
    color:$text-dark;
    font-size:14px;
    .dark & {
        color:$text-light;
        border-color:$ui-dark-subtle;
    }
    &:first-child {
        margin-top:0;
    }
    .report-message-text {
        padding:6px;
        margin:5px 0;
        font-size:14px;
        background:#eee;
        white-space: pre-wrap;
        word-break:break-word;
        line-height:15px;
        border-radius:4px;
        .dark & {
            background:rgb(58, 58, 58);
        }
    }
    .report-message-link,
    .report-message-text {
        a {
            text-decoration: underline;
            color:rgb(107, 177, 243);
        }
    }
    .report-actions {
        .delete-report,
        .delete-reported-message {
            cursor:pointer;
            padding:8px 0;
            flex:1;
            text-align:center;
            border-radius:5px;
            transition:all .1s ease-in-out;
            font-size:18px;
        }
        .delete-report {
            &:hover {
                background:rgb(78, 224, 151);
                color:#fff;
            }
        }
        .delete-reported-message {
            &:hover {
                background:rgb(255, 65, 65);
                color:#fff;
            }
        }
    }
    .report-delete-message-results {
        text-align:center;
        color:$error;
        padding:5px 0;
    }
    span.report-label {
        font-family:WorkSansSemiBold;
    }
}

.admin-users-container {
    position:relative;
    table {
        width:100%;
        border-collapse:collapse;
        border-collapse: separate;
        border-spacing:0;
        tr.users-container-header {
            th {
                position:sticky;
                top:0;
                background:$ui-light;
                z-index:1000;
                border-bottom:1px solid white;
                .dark & {
                    background: $ui-dark;
                }
            }
        }
        tr, thead {
            td, th {
                border:1px solid $ui-subtle;
                padding:5px 9px;
                color:$text-dark;
                font-size:14px;
                .dark & {
                    color:$text-light;
                    border-color:$ui-dark-subtle;
                }
            }
            td.table-username,
            td.table-id,
            td.table-ip,
            td.table-email {
                word-wrap: break-word;
                white-space:none;
            }
            td.table-username {
                max-width:100px;
            }
            td.table-id {
                max-width:100px;
            }
            td.table-ip {
                max-width:200px;
            }
            td.table-email {
                max-width:150px;
            }
            td.table-muted {
                max-width:200px;
            }
            td.table-action-item {
                display:table-cell;
                width:100px;
                text-align:center;
                vertical-align:middle;
                .user-action-btn {
                    height:30px;
                    line-height:30px;
                    width:90px;
                    display:inline-block;
                    vertical-align:top;
                    cursor:pointer;
                    color:$text-dark;
                    border:1px solid #ddd;
                    border-radius:5px;
                    transition:all .1s ease-in-out;
                    .dark & {
                        color:$text-light;
                        border-color:rgb(112, 112, 112);
                    }
                    &.delete-user {
                        color:rgb(255, 65, 65);
                        border-color:rgb(255, 65, 65);
                    }
                    &.mute-user {
                        color:rgb(112, 91, 235);
                        border-color:rgb(112, 91, 235);
                    }
                    &.delete-user:hover {
                        color:#fff;
                        background:rgb(255, 65, 65);
                    }
                    &.mute-user:hover {
                        color:#fff;
                        background:rgb(112, 91, 235);
                    }
                }
            }
        }
    }
}

@keyframes admin-dialogue-slidein {
    0% {
        //transform:translate(-50%,-100vh);
        opacity:0;
    }
    100% {
        //transform:translate(-50%,calc(-50% - 80px));
        opacity:1;
    }
}

.delete-dialogue,
.mute-dialogue {
    position:fixed;
    top:55%;left:50%;
    transform:translate(-50%,calc(-50% - 50px));
    animation: admin-dialogue-slidein .15s ease-in-out 1;
    padding:50px;
    border-radius:10px;
    background:$ui-light;
    box-shadow: 0px 4px 15px -5px #505050;
    .dark & {
        background:rgb(24, 24, 24);
        color:$text-light;
        box-shadow: 0px 4px 15px -5px #070707;
    }
}

.delete-dialogue {
    gap:50px;
    .delete-button-confirm-container {
        gap:50px;
    }
}

.mute-dialogue {
    gap:20px;
    width:60%;
    .mute-dialogue-header {
        text-align:center;
        font-family:WorkSansSemiBold;
        margin-bottom:10px;
        font-size:20px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    .mute-dialogue-actions {
        width:100%;
    }
    .mute-message,
    .mute-until {
        flex:1;
        text-align:center;
    }
    .mute-message-header,
    .mute-until-header {
        margin-bottom:10px;
    }
    .mute-message {
        position:relative;
        textarea {
            width:90%;
            flex:1;
            background:$ui-light;
            .dark & {
                background:rgb(24, 24, 24);
            }
        }
    }
    .mute-until-input {
        .date-updater-calendar {
            button {
                background:$ui-light;
                .dark & {
                    background:rgb(24, 24, 24);
                    &:hover {
                        background:rgb(94, 94, 94);
                    }
                }
            }
            .react-calendar__tile--active {
                background:$default;
                color:$text-light;
                .dark & {
                    background:$default;
                }
            }
        }
    }
    .mute-confirm {
        gap:40px;
        justify-content:center;
    }
}

.market-switch {
    position:absolute;
    top:0;
    right:0;
    padding:20px;
    z-index:1000;
    color:$text-dark;
    background:none !important;
    .dark & {
        color:$text-light;
    }
    .market-switch-header,
    .market-switch-label {
        font-family:WorkSans;
        font-size:16px;
    }
    .market-switch-header {
        padding:0 15px;
    }
}

table.adjustment-table {
    color:$text-dark;
    .dark & {
        color:$text-light;
    }
    td {
        padding:10px;
        text-align:center;
    }
    tr.table-header,
    tr.table-subheader {
        td {
            border-bottom:1px solid $ui-subtle;
            .dark & {
                border-color:$ui-dark-subtle;
            }
        }
    }
    tr.table-subheader {
        td {
            position:sticky;
            top:0;
            background:$ui-light;
            z-index:1000;
            .dark & {
                background: $ui-dark;
            }
        }
    }
    td.type-header {
        min-width:150px;
    }
    tr.adjustment-coin-row {
        td.adjustment-coin-row-coin {
            .coin {
                height:50px;width:80px;
                border-width:2px;
                border-radius:10px;
                img, svg {
                    width:40%;
                }
            }
        }
    }
    margin:10px;
}

table.spam-table {
    color:$text-dark;
    .dark & {
        color:$text-light;
    }
    margin-top:20px;
    border-collapse:collapse;
    thead {
        td {
            font-family:WorkSansSemiBold;
        }
    }
    td {
        padding:10px;
        border:1px solid rgb(131, 131, 131);
        text-align:center;
    }
}

.refresh-spam {
    position:absolute;
    top:0;right:0;
    border:1px solid $primary;
    color:$primary;
    border-radius:10px;
    padding:10px;
    margin-right:10px;
    cursor:pointer;
    &:hover {
        background:$primary;
        color:$text-light;
    }
}

.radio-outer {
    height:100%;
    width:100%;
}

.radio-button {

    height:30px;
    width:30px;
    border:2px solid rgb(85, 125, 255);
    border-radius:50%;
    cursor:pointer;
    margin:0;padding:0;

    .radio-button-inner {
        height:22px;
        width:22px;
        margin:0;
        border-radius:50%;
        background:rgb(85, 125, 255);
        @keyframes enlarge {
            0% {
                transform:scale(0.1);
            }
            90% {
                transform:scale(1.2);
            }
            100% {
                transform:scale(1);
            }
        }
        animation:enlarge .15s ease-in-out 1;
    }
}

input.volatility-input,
input.fee-input {
    height:30px;
    text-align:center;
    outline:none;
    font-family:WorkSansSemiBold;
    font-size:20px;
    border-radius:6px;
    width:100px;

    border:1px solid rgb(66, 66, 66);
    color:rgb(17, 17, 17);
    background:rgb(248, 248, 248);
    
    .dark & {
        border:1px solid rgb(80, 80, 80);
        color:rgb(218, 218, 218);
        background:rgb(27, 26, 26);
    }

    &:focus {
        outline:2px solid rgb(83, 104, 224);
    }
}

.multiplier-indicator {
    height:3px;
    width:160px;
    background:rgb(204, 204, 204);
    position:relative;
    overflow:hidden;
    
    .dark & {
        background:rgb(17, 17, 17);
    }

    .multiplier-indicator-inner {
        position:absolute;
        left:0;top:0;
        height:100%;
    }
}

.change-indicator {
    width:20px;height:20px;
    border-radius: 50%;
    background:rgb(65, 101, 218);
}

.volatility-update-btn,
.update-fee {
    border:1px solid rgb(129, 91, 235);
    border-radius:7px;
    color:rgb(143, 121, 240);
    padding:10px;
    cursor:pointer;
    transition:all .1s ease-in-out;
    &:hover {
        background:rgb(100, 83, 199);
        color:#fff;
    }
}

.fee-label {
    font-size:1.2rem;
    font-family: WorkSansSemiBold;
}