$leaderboard-red     :rgb(253, 86,  86); 
$leaderboard-pink    :rgb(255, 124, 211);
$leaderboard-lime    :rgb(167, 250, 58); 
$leaderboard-blue    :rgb(111, 186, 221);
$leaderboard-purple  :rgb(102, 105, 255);
$leaderboard-orange  :rgb(235, 110, 38); 
$leaderboard-yellow  :rgb(250, 201, 42); 
$leaderboard-green   :rgb(109, 228, 115);
$leaderboard-magenta :rgb(207, 88,  243);
$leaderboard-gray    :rgb(135, 136, 151);