@import 'settings.scss';

div.transactions-container {
    position:fixed;
    z-index:1000;
    justify-content:bottom;

    top:$nav-height;
    right:0;

    padding:10px;

    div.transaction-item {
        position:relative;
        width:300px;
        height:70px;
        display:flex;
        flex-direction:row;
        align-items:center;
        padding:10px;
        justify-content:space-between;
        gap:15px;
        background:$ui-light;
        border:3px solid $primary;

        margin-bottom:10px;
        transition:transform .1s cubic-bezier(0.39, 0.575, 0.565, 1);
        animation:slide-in-notification 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) 1;

        color:$text-dark;
        border-radius:10px;
        box-shadow: 0px 5px 15px -6px #000000;
        .dark & {
            background:$ui-dark;
            color:$text-light;
        }
        .coin {
            height:60px;
            min-height:60px;
            width:90px;
            min-width:90px;
            border-radius:12px;
            img {
                width:45%;
            }
            img.small-calli {
              width:32%;
            }
        }
        .transaction-message {
            font-size:20px;
            text-align:center;
            font-family:WorkSansSemiBold;
        }
    }

}