@import './css/settings.scss';

@font-face {
  font-family: Syne;
  src: url("./fonts/Syne-Regular.ttf");
}

@font-face {
  font-family: Chicago;
  src: url("./fonts/chicago/ChicagoFLF.ttf");
}

@font-face {
  font-family: WorkSans;
  src: url("./fonts/Work_Sans/WorkSans-Regular.ttf");
}

@font-face {
  font-family: WorkSansSemiBold;
  src: url("./fonts/Work_Sans/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: OverpassMono;
  src: url("./fonts/OverpassMono-Regular.ttf");
}

@font-face {
  font-family: WorkSansBold;
  src: url("./fonts/Work_Sans/WorkSans-Bold.ttf");
}

@font-face {
  font-family: Oxygen;
  src: url("./fonts/Oxygen-Regular.ttf");
}

@font-face {
  font-family: OxygenBold;
  src: url("./fonts/Oxygen-Bold.ttf");
}

body {
  font-family: WorkSans, sans-serif;
  margin:0;
}

.background {
  position:fixed;
  height:250vh;
  width:50vw;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) rotate(45deg);
  background: $primary;
}

.dark,
.halloween {
  height:100vh;
  width:100vw;
  position:fixed;
  top:0;
  left:0;
}

.dark {
  background:rgb(56, 56, 56);
}

.dark .background {
  background:rgb(27, 27, 27);
}

.halloween {
  background:rgb(29, 29, 29);
}

.halloween .background {
  background:#000;
}